
<div id="galleryView" >
    <h1 class="h1 galleryTitle"></h1>

    <div class="galleryList">
        <a class="slideshowIndicatorBtn left" onclick="galleryViewItemBtnChange(-1)">&#10094;</a>
        <a class="slideshowIndicatorBtn right" onclick="galleryViewItemBtnChange(+1)">&#10095;</a>

        <div class="indicatorSection">
        </div>
    </div>



 </div>
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'MainWebApp/css/widgets/slideshowIndicatorsGallery.css' %}">
<script language="JavaScript" type="text/javascript" src="{% static 'MainWebApp/functions/widgets/slideshowIndicatorsGallery.js' %}"></script>