/*----------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------COMMON USE SECTIONS--------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 20px) {
    .serviceDetails{
        margin: auto;
        width: 70%;
        position: relative;
        text-align: center;
     }

     .serviceDetails > *, #galleryView{
        margin-top:60px !important;
     }

     .serviceList{
        width: auto;
        height: auto;
        display: table;
        margin: auto;
     }

     .serviceList ul {
        width: 50%;
        list-style-type: none;
     }
}


/*----------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------RESPONSIVE SECTIONS--------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------*/

/*This style is for devices with screen width is larger than 1026px*/
/*Suitable devices are desktop or tablets in landscape mode */

@media screen and (min-width: 1000px) {


}


/*This style is for devices with screen width is up to 1025px*/
/*Suitable devices are tablets */
@media screen and (max-width: 999px) {
    .serviceDetails{
        width: 100% !important;
     }

     .serviceDetails > *{
        margin-top:30px;
     }

}

/*This style is for devices with screen width is up to 500px*/
/*Suitable devices are mobile phone */
@media screen and (max-width: 500px) {


}

/*@media screen and (max-width: 500px) {
    .contentDetail{
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (max-height: 1023px) {
    .mainMenuBar{
        height: 1024px;
        overflow-y: auto;
        position: absolute;
    }

}*/